




/* line 23, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
/*.bg {
 background: url(../imgs/bg.jpg)  no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}*/


body {
  font-size: 0.75em;
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
  color: #eceff1;
  line-height: 1.5; }
.m-container{
  display: flex;
  justify-content: space-between;
}

////////Page Specific/////////




////////Nav Styles/////////

nav {
  color: #fff;
  background-color: #121826;
  width: 100%;
  height: 56px;
  line-height: 56px;
}

nav .button-collapse i {
  font-size: 2.7rem;
  height: 56px;
  line-height: 56px;
  position: fixed;
  left: 97%;
}


////////SideNav Styles/////////


.side-nav {
  position: fixed;
  width: 240px;
  left: -105%;
  top: 0;
  margin: 0;
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: #121826;
  z-index: 999;
  overflow-y: auto;
  will-change: left;
}
.side-nav a {
  color: #759cb6;
  display: block;
  font-size: 1.6em;
  height: 64px;
  line-height: 64px;
  padding: 0 15px;
  text-decoration: none;
  font-family: 'Raleway', Arial, sans-serif;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}


////////SideNav List Items/////////


.side-nav li {
  background-color: transparent;
  border:0;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  }
.side-nav .collapsible li {
  background-color: transparent;
  border:0;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}
.side-nav .collapsible-body li {
  background-color: transparent;
  border:0;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}
.side-nav .collapsible-header li {
  background-color: transparent;
  border:0;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}


////////SideNav Hover Styles/////////

.side-nav a:hover {
  text-decoration: none;
  color: #e7e7e7;
  border-left: 5px solid #8b979f;
}
.side-nav li:hover {
  background-color: transparent;

  }
.side-nav .collapsible li:hover {
  background-color: transparent;

}
.side-nav .collapsible-body li:hover {
  background-color: transparent;

}
.side-nav .collapsible-header li:hover {
  background-color: transparent;

}



////////SideNav Active Styles/////////


.side-nav a:active {
  text-decoration: none;
  color: #e7e7e7;
}
 .side-nav li:active {
  background-color: transparent;
  border-left: 5px solid #8b979f;
  }

.side-nav .collapsible li:active {
  background-color: transparent;
  border-left: 5px solid #8b979f;
}
.side-nav .collapsible-body li:active{
  background-color: transparent;
  border-left: 5px solid #8b979f;
}

.side-nav .collapsible-header li:active {
  background-color: transparent;
  border-left: 5px solid #8b979f;
}

.side-nav a.active {
  background-color: transparent;
  border-left: 5px solid #8b979f;
}



////////Important/////////

.side-nav .collapsible-body {
  border:0;
  background-color: darken(#34495E, 10%); }




/* Isi Link Styles ///////////////////////////////////////////////////*/

@media screen and (min-width: 500px) {
  /* line 32, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
  body {
    font-size: 1em; } }
/* line 38, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
a {
  color: #3f51b5;
  text-decoration: none;
  transition: color 0.15s ease-in; }
  /* line 42, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
  a:hover {
    color: #1a237e; }
  /* line 46, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
  a:active, a:focus {
    color: #e91e63; }
  /* line 49, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
  a:visited {
    color: #e7e7e7; }

/* line 54, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
code {
  font-weight: bold; }

/* line 62, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
.m-type-display-1 {
  font-size: 2em;
  font-weight: 300;
  margin: 16px 0; }

@media screen and (min-width: 768px) {
  /* line 69, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
  .m-type-display-1 {
    font-size: 4em; } }
/* line 74, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
.m-type-sub-heading-1 {
  font-size: 1.13em;
  font-weight: 400;
  margin: 16px 0; }

/* line 80, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
.m-type-heading-1 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 16px 0; }

/* line 90, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
.m-code {
  display: block;
  margin: 1.5em 0;
  padding: 1em;
  border-bottom: 1px solid #cfd8dc; }

/* line 101, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
.m-header {
  position: relative;
  padding: 4.25em 4.25em 2em;
  max-width: 150em; }
  /* line 106, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
  .m-header .header_actions {
    margin: 1.25em 0 0; }
  /* line 110, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
  .m-header .header_link {
    margin-right: 1.25em;
    margin-top: 4px; }

@media screen and (min-width: 1024px) {
  /* line 117, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
  .m-header {
    padding: 8.5em 8.5em 4.25em; } }
/* line 126, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
.m-button {
  display: inline-block;
  padding: 0.5em;
  border: 1px solid #eceff1;
  overflow: hidden;
  transition: background-color 0.15s ease-in; }
  /* line 133, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
  .m-button .txt {
    color: #eceff1;
    transition: color 0.15s ease-in; }
  /* line 138, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
  .m-button:hover {
    background-color: #eceff1; }
    /* line 141, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
    .m-button:hover .ico {
      fill: #e91e63; }
    /* line 144, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
    .m-button:hover .txt {
      color: #e91e63; }

/* line 155, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
.m-page {
  background-color: #222;
  color: #263238; }
.m-page2 {
  background-color: #222;
  height: 1220px;
  color: #263238; }
/* line 165, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
.m-segment {
  padding: 1em 4.25em;
  border-bottom: 1px solid #cfd8dc; }
  /* line 169, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
  .m-segment .segment_content {
    margin: 16px 0;
    max-width: 40em; }
  /* line 174, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
  .m-segment .segment_description {
    margin: 16px 0; }

@media screen and (min-width: 1024px) {
  /* line 180, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
  .m-segment {
    padding: 2.25em 8.5em; } }
/* line 190, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
.m-aside-segment {
  display: none;
  padding: 2.25em;
  border-bottom: 1px solid #f8bbd0; }
  /* line 194, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
  .m-aside-segment .segment_description {
    margin: 16px 0; }

/* line 205, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
.m-landing-layout .m-type-sub-heading-1 {
  color: #f8bbd0; }

/* line 216, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
.m-detail-layout .m-aside .aside_title {
  margin: 16px;
  font-weight: normal; }

@media screen and (min-width: 768px) {
  /* line 224, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
  .m-detail-layout {
    padding-left: 270px; }
    /* line 226, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
    .m-detail-layout .m-aside {
      position: absolute;
      left: 0;
      width: 270px; }
      /* line 230, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
      .m-detail-layout .m-aside .aside_title {
        position: fixed; }
      /* line 233, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
      .m-detail-layout .m-aside .m-button {
        display: block; } }
/* line 247, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
.m-right-panel .m-header,
.m-right-panel .m-segment .segment_content {
  max-width: 43em; }
/* line 251, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
.m-right-panel .right-panel_top {
  border-bottom: 1px solid #cfd8dc; }

/* line 260, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
.m-breadcrumb .breadcrumb_link {
  position: relative;
  top: -2px;
  font-size: 0.75em; }
/* line 265, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
.m-breadcrumb .m-type-display-1 {
  margin-top: 0; }

/* line 273, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
.m-footer {
  background-color: #cfd8dc; }

/* line 282, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
.m-image-grid {
  overflow: hidden;
  list-style: none;
  padding-left: 0; }
  /* line 286, /Users/mperez/Sites/smoothstate/source/stylesheets/layout.css.scss */
  .m-image-grid .item {
    display: block;
    float: left;
    width: 33%;
    overflow: hidden; }



/* line 6, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
.m-scene .scene_element {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }
/* line 17, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
.m-scene .scene_element--fadein {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }
/* line 22, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
.m-scene .scene_element--fadeinup {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }
/* line 27, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
.m-scene .scene_element--fadeinright {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

/* line 32, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
.m-scene .scene_element--delayed {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }
/* line 38, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
.m-scene.is-exiting .scene_element {
  -webkit-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse; }
/* line 43, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
.m-scene.is-exiting .scene_element--delayed {
  -webkit-animation-delay: 1.7s;
  animation-delay: 1.7s; }
/* line 48, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
.m-scene.is-exiting .scene_element--noexiting {
  -webkit-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse; }

@media screen and (min-width: 768px) {
  /* line 57, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
  .m-scene .scene_element--fadeinright-wide {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight; } }



