////////Variables/////////
	 


// Colors
$hxone: #23314b;
$hxtwo: #314c80;
$hxthree: #a3aba3;
$hxfour: #202831;
$hxfive: #181c1f;
$hxsix: #337ab7;

$blk: rgba(0, 0, 0, 0);
$whi: #e7e7e7;

$bluedark: #22527b;
$bluebright: #337ab7;

$greydark: #8e8e8e;
$greybright: #c2c2c2;



//Sizes
$margin: 0px;
$padding: 0px;
$width: 100%;



// Fonts
$robo:'Roboto', serif;
$open:'Open Sans', sans-serif;
$arvo:'Arvo', serif;
$flam:'Flamenco', serif;
$rale:'Raleway', serif;
$ubnt:'Ubuntu', sans-serif;



//Font Sizes
$fsm: 2rem;
$fmed: 1.5rem;
$flg: 2rem;
$fx: 2.5rem;
$fxx: 3rem;
$fxxx: 3.5rem;



