@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600);
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Flamenco);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  background: #000; }

.row {
  margin: 0px;
  padding: 0px; }

.intro-section {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #fff; }

.tour-section {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #eee; }

#main {
  width: 100%;
  height: 100%; }

/************************************************/
CUSTOME CLASSES
a {
  text-decoration: none; }
  CUSTOME CLASSES
  a:hover {
    text-decoration: none; }

h1 {
  font-size: 6em;
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
  letter-spacing: 15px; }

h2 {
  font-size: 2.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; }

h3 {
  font-size: 2.3em;
  font-family: 'Abril Fatface', cursive; }

h4 {
  font-size: 4em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; }

/************************************************/
CUSTOME CLASSES
.imageClass {
  width: 100%;
  margin: 15px auto 25px;
  padding: 1%; }
  CUSTOME CLASSES
  .imageClass img {
    max-width: 100%;
    border: 0.5px solid #484848; }

.back-to-top {
  background: none;
  margin: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 45px;
  z-index: 100;
  display: none;
  text-decoration: none;
  color: #e7e7e7; }

.back-to-top i {
  font-size: 20px; }

.space {
  height: 60px;
  width: 100%; }

.page-header {
  padding-bottom: 0px;
  margin: 10px auto 10px;
  border-bottom: 5px solid rgba(139, 151, 159, 0.4);
  font-size: 3em;
  letter-spacing: 15px;
  font-weight: 800;
  opacity: .2;
  width: 80%;
  color: #121826;
  text-shadow: 0 0 35px #34495E;
  -moz-text-shadow: 0 0 35px #34495E;
  -webkit-text-shadow: 0 0 35px #34495E; }

.push {
  margin: 0; }
  @media screen and (min-width: 768px) {
    .push {
      margin: 0 0 0 5%; } }

.fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color; }

.fade:hover, .fade:focus, .fade:active {
  background-color: rgba(52, 73, 94, 0.1);
  color: 34495E; }

/************************************************/
CUSTOME CLASSES
Materializer CSS
.materialboxed {
  cursor: zoom-in;
  position: relative;
  -webkit-transition: opacity .4s;
  -moz-transition: opacity .4s;
  -o-transition: opacity .4s;
  -ms-transition: opacity .4s;
  transition: opacity .4s; }

.materialboxed:hover {
  will-change: left, top, width, height; }

.materialboxed:hover:not(.active) {
  opacity: .8; }

.materialboxed.active {
  cursor: zoom-out; }

#materialbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 999;
  will-change: opacity; }

.materialbox-caption {
  position: fixed;
  display: none;
  color: #fff;
  line-height: 50px;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0% 15%;
  height: 50px;
  z-index: 1000;
  -webkit-font-smoothing: antialiased; }

/************************************************/
Smooth Animations
.m-scene .scene_element {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

/* line 17, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
.m-scene .scene_element--fadein {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

/* line 22, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
.m-scene .scene_element--fadeinup {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

/* line 27, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
.m-scene .scene_element--fadeinright {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

/* line 32, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
.m-scene .scene_element--delayed {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

/* line 38, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
.m-scene.is-exiting .scene_element {
  -webkit-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse; }

/* line 43, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
.m-scene.is-exiting .scene_element--delayed {
  -webkit-animation-delay: 1.7s;
  animation-delay: 1.7s; }

/* line 48, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
.m-scene.is-exiting .scene_element--noexiting {
  -webkit-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse; }

@media screen and (min-width: 768px) {
  /* line 57, /Users/mperez/Sites/smoothstate/source/stylesheets/pageTransitions.css.scss */
  .m-scene .scene_element--fadeinright-wide {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight; } }
@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 50px;
    line-height: 64px; } }
@font-face {
  font-family: "Material-Design-Icons";
  src: url("../font/material-design-icons/Material-Design-Icons.eot?#iefix") format("embedded-opentype"), url("../font/material-design-icons/Material-Design-Icons.woff2") format("woff2"), url("../font/material-design-icons/Material-Design-Icons.woff") format("woff"), url("../font/material-design-icons/Material-Design-Icons.ttf") format("truetype"), url("../font/material-design-icons/Material-Design-Icons.svg#Material-Design-Icons") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("..assets/font/roboto/Roboto-Thin.woff2") format("woff2"), url("..assets/font/roboto/Roboto-Thin.woff") format("woff"), url("..assets/font/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 200; }
@font-face {
  font-family: "Roboto";
  src: url("..assets/font/roboto/Roboto-Light.woff2") format("woff2"), url("..assets/font/roboto/Roboto-Light.woff") format("woff"), url("..assets/font/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300; }
@font-face {
  font-family: "Roboto";
  src: url("..assets/font/roboto/Roboto-Regular.woff2") format("woff2"), url("..assets/font/roboto/Roboto-Regular.woff") format("woff"), url("..assets/font/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400; }
@font-face {
  font-family: "Roboto";
  src: url("..assets/font/roboto/Roboto-Medium.woff2") format("woff2"), url("..assets/font/roboto/Roboto-Medium.woff") format("woff"), url("..assets/font/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500; }
@font-face {
  font-family: "Roboto";
  src: url("..assets/font/roboto/Roboto-Bold.woff2") format("woff2"), url("..assets/font/roboto/Roboto-Bold.woff") format("woff"), url("..assets/font/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700; }
.font1 {
  font-size: 2rem;
  font-family: "Roboto", serif;
  color: #23314b; }

.font2 {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  color: #314c80; }

.font3 {
  font-size: 2rem;
  font-family: "Arvo", serif;
  color: #a3aba3; }

.font4 {
  font-size: 2.5rem;
  font-family: "Flamenco", serif;
  color: #202831; }

.font5 {
  font-size: 1.5rem;
  font-family: "Raleway", serif;
  color: #181c1f; }

.font6 {
  font-size: 3.5rem;
  font-family: "Ubuntu", sans-serif;
  color: #337ab7; }

nav {
  color: #fff;
  background-color: transparent;
  width: 0px;
  height: 0px; }

nav .button-collapse i {
  font-size: 2.7rem;
  height: 56px;
  line-height: 56px;
  margin: 0 10px;
  position: fixed;
  right: 0;
  top: 2; }

.side-nav {
  position: fixed;
  width: 240px;
  left: -105%;
  top: 0;
  margin: 0;
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: #121826;
  z-index: 999;
  overflow-y: auto;
  will-change: left; }

.side-nav a {
  color: #759cb6;
  display: block;
  font-size: 1.6em;
  height: 64px;
  line-height: 64px;
  padding: 0 15px;
  text-decoration: none;
  font-family: 'Raleway', Arial, sans-serif;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  transition: all .4s ease; }

.side-nav li {
  background-color: transparent;
  border: 0;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  -webkit-transition: all .1s ease;
  transition: all .1s ease; }

.side-nav .collapsible li {
  background-color: transparent;
  border: 0;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  -webkit-transition: all .1s ease;
  transition: all .1s ease; }

.side-nav .collapsible-body li {
  background-color: transparent;
  border: 0;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  -webkit-transition: all .1s ease;
  transition: all .1s ease; }

.side-nav .collapsible-header li {
  background-color: transparent;
  border: 0;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  -webkit-transition: all .1s ease;
  transition: all .1s ease; }

.side-nav a:hover {
  text-decoration: none;
  color: #e7e7e7;
  border-left: 5px solid #8b979f; }

.side-nav li:hover {
  background-color: transparent; }

.side-nav .collapsible li:hover {
  background-color: transparent; }

.side-nav .collapsible-body li:hover {
  background-color: transparent; }

.side-nav .collapsible-header li:hover {
  background-color: transparent; }

.side-nav a:active {
  text-decoration: none;
  color: #e7e7e7; }

.side-nav li:active {
  background-color: transparent;
  border-left: 5px solid #8b979f; }

.side-nav .collapsible li:active {
  background-color: transparent;
  border-left: 5px solid #8b979f; }

.side-nav .collapsible-body li:active {
  background-color: transparent;
  border-left: 5px solid #8b979f; }

.side-nav .collapsible-header li:active {
  background-color: transparent;
  border-left: 5px solid #8b979f; }

.side-nav a.active {
  background-color: transparent;
  border-left: 5px solid #8b979f; }

.side-nav .collapsible-body {
  border: 0;
  background-color: #22303d; }

@media (min-width: 767px) {
  .navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out; }

  .top-nav-collapse {
    padding: 0; } }
/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */

/*# sourceMappingURL=main.css.map */
